@import  url('https://fonts.googleapis.com/css?family=Righteous');

body{
    font-family: 'Righteous', cursive;

    background-color:red;
    background-image: url(Bird.png);
    width:100%;
}
.title{
    line-height: 1.3;
    padding: 30px;
}
h3 {
    font-weight:900;
    font-size: 2rem;
    padding:20px;
    color:limegreen;
}

h6 {
    width:100%;
    font-weight:500;
    font-size:20px
}

h1{
    font-weight: bold;
    font-size: 55px;
    color:limegreen;
}
div.info{
    clear:both;
    text-align:center;
    width: 100%;
    padding:20px;
    font-size: 25px;
    font-weight:bold;
}

.peace {
    font-size:120px
}
div.sun{
     padding-bottom: 30px;
     padding:5px;
    float:left;
    width: 33%;
    text-align: center;
}

div.fri{
    padding-bottom: 30px;
    float:left;
    width: 33%;
    text-align: center;
}
div.sat{
    padding-bottom: 30px;
    float:left;
    width: 33%;
    text-align:center;
}

div.activities{
    text-align:center;
    width:100%;
   }

div.title{
    text-align:center;    
}

div.dates{
    color:limegreen;
    padding-bottom: 30px;
    text-align: center;
    font-size: 4rem;
}

div.image{
    width:20%
}
p{
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    color:limegreen;
}

li{
    color:darkblue;
    line-height: 1.2;
}