@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

body{
    font-family: 'Mukta Mahee', sans-serif;

    background-color:red;
    background-image: url(Bird.png);
    width:100%;
}
.title{
    font-weight:900;
    font-size:60px;
}
h3 {
    font-weight:900;
    font-size: 2rem
}

h6 {
    width:100%;
    font-weight:500;
    font-size:20px
}

h1{
    font-weight: 900;
    font-size: 3rem;
}
h4{
    text-align:center;
    width: 100%;
}

.peace {
    font-size:120px
}
div.sun{
    float:left;
    width: 33%;
    text-align: center;
}

div.fri{
    float:left;
    width: 33%;
    text-align: center;
}
div.sat{
    float:left;
    width: 33%;
    text-align:center;
}

div.activities{
    text-align:center;
    width:100%;
   }

div.title{
    text-align:center;    
}

div.peace{
    text-align: center;
}


div.dates{
    text-align: center;
}

div.image{
    width:20%
}
